body {
	margin: 0;
}

table {
	width: 700px;
	margin: 0 auto;
}

caption {
	font-size: 50px;
}

th, td {
	border: 1px solid #000;
	text-align: center;
	width: 300px;
	font-size: 25px;
}

th {
	background-color: #fcd000;
}

td {
	background-color: #ccd000;
}

img {
	width: 150px;
	border: 1px solid #000;
}
a {
	font-size: 100px;
}
